@model ABSM.ViewModels.ShopViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<!-- Slider
================================================== -->
<div class="container fullwidth-element home-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                @foreach (var item in Model.FileUploads)
                {
                     <!-- Slide 1  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <img src="@Url.Content(item.ImageUrl)" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        
                    </li>
                }
               
                @*<!-- Slide 2  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/images/slider2.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <div class="caption dark sfb fadeout" data-x="750" data-y="170" data-speed="400" data-start="800" data-easing="Power4.easeOut">
                        <h2>Urban Style</h2>
                        <h3>Every cut and colour</h3>
                       
                    </div>
                </li>
                <!-- Slide 3  -->
                <li data-transition="fadetotopfadefrombottom" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/images/slider3.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <div class="caption dark sfb fadeout" data-x="850" data-y="170" data-speed="400" data-start="800" data-easing="Power4.easeOut">
                        <h2>New In</h2>
                        <h3>Pants and T-Shirts</h3>
                       
                    </div>
                </li>*@
            </ul>
        </div>
    </div>
</div>


<div class="container product-categories">
    @foreach (var shop in Model.Shops)
    {
        <div class="four columns">
            <a href="@Url.Action("Browse", new { id = shop.ShopID })" class="img-caption">
                <figure>
                    <img src="@Url.Content(shop.ImageUrl)" alt="" />
                    <figcaption>
                        <h3>@shop.Name</h3>
                        <span>Browse Products</span>
                    </figcaption>
                </figure>
            </a>
        </div>
    }


</div>


<!-- Container -->
@{Html.RenderAction("NewArrivals", "Store");}

<!-- Container / End -->
<div class="margin-top-50"></div>

