
@{
    ViewBag.Title = "About";
}

<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>About Us</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>About Us</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="sixteen columns">
        <h3 class="headline">Our History</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
    </div>
    <!-- Who We Are? -->
    <div >
        <p>Abdullah Shopping Mall is located near Court rode in Gujrat. This is place for shopping for ladies and gents as well as play land for child at top story.</p>
        <p>We provide secure environment to our customers. People get place for shops in our plaza to sell their brand products. Abdullah Shopping Plaza is place of shopping with outstanding quality .We have nice play land for children at top where people can play different games while you are shopping, We have nice architecture and underground place for parking with security guards</p>
    <p>In this digital World, We have introduced website for our plaza where Shop owner can sell his products online. You will find best services in our online system with fast delivery and secure payment methods.</p>
    </div>
    <!-- Our Skills -->
    
</div>
<!-- Container / End -->
<br>
<!-- Container -->
<div class="container">
    <div class="four columns">
        <div class="counter-box colored">
            <i class="fa fa-thumbs-o-up"></i>
            <span class="counter">2,147</span>
            <p>Happy Customers</p>
        </div>
    </div>

    <div class="four columns">
        <div class="counter-box">
            <i class="fa fa-group"></i>
            <span class="counter">3,275</span>
            <p>Registered Members</p>
        </div>
    </div>
    <div class="four columns">
        <div class="counter-box">
            <i class="fa  fa-shopping-cart"></i>
            <span class="counter">289</span>
            <p>Available Products</p>
        </div>
    </div>
    <div class="four columns">
        <div class="counter-box">
            <i class="fa  fa-tree"></i>
            <span class="counter">1,563</span>
            <p>Orders</p>
        </div>
    </div>
</div>
<!-- Container / End -->
<br>

<div class="margin-top-50"></div>

