
@{
    ViewBag.Title = "About";
}

<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>About Us</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>About Us</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="sixteen columns">
        <h3 class="headline">Our History</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
    </div>
    <!-- Who We Are? -->
    <div class="eight columns">
        <p>Donec ut molestie turpis, elementum tempor metus. Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci. Quisque a gravida lorem, eu lobortis magna. Nulla auctor urna quis facilisis pretium. Cras facilisis risus sed mauris gravida.</p>
        <p>Aliquam posuere ornare convallis. Etiam vel egestas tortor. Phasellus nec rhoncus ligula. Pellentesque vitae sollicitudin nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed id odio elementum sodales.</p>
    </div>
    <!-- Our Skills -->
    <div class="eight columns">
        <div id="skillzz">
            <div class="skill-bar">
                <span class="skill-title">Photoshop <i>90%</i></span>
                <div class="skill-bar-value" style="width: 90%;"></div>
            </div>

            <div class="skill-bar">
                <span class="skill-title">Marketing <i>80%</i></span>
                <div class="skill-bar-value" style="width: 80%;"></div>
            </div>

            <div class="skill-bar">
                <span class="skill-title">Usability <i>70%</i></span>
                <div class="skill-bar-value" style="width: 70%;"></div>
            </div>
        </div>
    </div>
</div>
<!-- Container / End -->
<br>
<!-- Container -->
<div class="container">
    <div class="four columns">
        <div class="counter-box colored">
            <i class="fa fa-thumbs-o-up"></i>
            <span class="counter">2,147</span>
            <p>Happy Customers</p>
        </div>
    </div>

    <div class="four columns">
        <div class="counter-box">
            <i class="fa fa-group"></i>
            <span class="counter">3,275</span>
            <p>Registered Members</p>
        </div>
    </div>
    <div class="four columns">
        <div class="counter-box">
            <i class="fa  fa-shopping-cart"></i>
            <span class="counter">289</span>
            <p>Available Products</p>
        </div>
    </div>
    <div class="four columns">
        <div class="counter-box">
            <i class="fa  fa-tree"></i>
            <span class="counter">1,563</span>
            <p>Saved Trees</p>
        </div>
    </div>
</div>
<!-- Container / End -->
<br>

<div class="margin-top-50"></div>

